{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Your Montly Budget | AcenMark</title>
    <link rel="shortcut icon" type="image/icon" href="{% static 'marketing/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'payments/css/addmoney.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Orelega+One&family=Roboto+Slab:wght@700&family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'marketing/css/loader.css' %}" />
    <script src="https://kit.fontawesome.com/784b66feb8.js" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KJQFYGV2J3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KJQFYGV2J3');
</script>
</head>

<body>
    <div id="loader">
        <div class="sk-chase">
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
        </div>
    </div>
    <main>
        <a href="{% url 'account' %}" class="dash-borad"><button>
            <i class="fas fa-user"></i>
        </button></a>
        <div class="addmoney">
            <div class="mobile-view">
                <h1>Set Your Monthly budget for marketing.</h1>
            </div>
            <div class="money-add-area">
                <div class="money-modal">
                    <div class="modal-desc">
                        <h1>
                           Set Your Monthly budget for marketing.
                        </h1>
                        <ul class="budget-info-list">
                            <li>
                                <button>
                                    <i class="fas fa-thumbtack"></i>
                                </button>
                                <span>
                                We suggest that you start with 1k as your monthly budget and then  if your marketing campaings runs out of budget than we will notify you and then you can reset you budget by simply adding money to you wallet.
                                </span>
                            </li>
                        </ul>

                    </div>
                    <div class="modal-illus">
                        <img src="{% static 'payments/images/wallet_coin.svg' %}" alt="wallet" class="wallet-svg">
                    </div>

                </div>
                <div class="money-form-modal">
                    <div class="money-form-area">
                        <form class="add-money-o-Wallet" method="POST">
                            {% csrf_token %}
                            <div class="money-field">
                                <button><i class="fas fa-pound-sign"></i></button>
                                <input type="text" id="money" placeholder="3000" autocomplete="off" value="1000" />
                            </div>
                            <span class="money-err-msg"></span>
                            
                            <button class="add-money-btn" id="addmoneybtn"><i class="fas fa-wallet"></i>   Add</button>
                        </form>
                    </div>


                </div>
            </div>

        </div>



    </main>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'payments/js/addmoney.js' %}"></script>
</body>

</html>