{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Money To Your Wallet | AceMarketing</title>
    <link rel="stylesheet" href="{% static 'payments/css/addmoney.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Nosifer&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'marketing/css/loader.css' %}" />
    <script src="https://kit.fontawesome.com/784b66feb8.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="loader">
        <div class="sk-chase">
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
        </div>
    </div>
    <main>
        <div class="addmoney">
            {% if no_transaction_done %}

            {% endif %}

            <div class="money-add-area">
                <div class="money-modal">
                    <div class="modal-desc">
                        <h4>
                            Add money to Your Ace Marketing Wallet
                        </h4>
                        <span>Money which you add to your wallet, <br> is used in your marketing campaigns.</span>
                    </div>
                    <div class="modal-illus">
                        <img src="{% static 'payments/images/wallet.svg' %}" alt="wallet" class="wallet-svg">
                    </div>

                </div>
                <div class="money-form-modal">
                    <div class="money-form-area">
                        <form class="add-money-o-Wallet" method="POST">
                            {% csrf_token %}
                            <div class="input-field">
                                <button><i class="fas fa-pound-sign"></i></button>
                                <input type="text" id="money" placeholder="2000" autocomplete="off" />
                            </div>
                            <span class="err-msg"></span>
                            
                            <button class="add-money-btn" id="addmoneybtn"><i class="fas fa-wallet"></i>   Add</button>
                        </form>
                    </div>


                </div>
            </div>

        </div>

    <div class="mobile-view">

        <img src="{% static 'payments/images/blob4.svg' %}" class="blob blob1" alt="graphics" />
        <img src="{% static 'payments/images/blob4.svg' %}" class="blob blob2" alt="graphics" />
        <img src="{% static 'payments/images/blob4.svg' %}" class="blob blob3" alt="graphics" />
        <img src="{% static 'payments/images/blob4.svg' %}" class="blob blob4" alt="graphics" />
    
        <div class="mobile-money-form">
            <div class="actual-form-main">
                <div class="descpadd">
                    <h4>Add money to Your Ace Marketing Wallet</h4>
                    <span>Money which you add to your wallet, <br> is used in your marketing campaigns.</span>
                </div>
                <button class="add-money-btn mobile-add-btn" id="addmoneybtn" ><i class="fas fa-wallet"></i> &nbsp;Add</button>
            </div>
           
        </div>
    </div>


    </main>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'payments/js/addmoney.js' %}"></script>
</body>

</html>