{% extends 'marketing/base.html' %}
{% load static %}


{% block title %}

Pricing | AcenMark 

{% endblock %}

{% block seosection %}


<meta name="title" content="Pricing | AcenMark">
<meta name="description" content="Acenmark has a very flexible pricing model, a monthly you don't have to pay the same amount again and again instead of that you set a monthly budget and we design a marketing system around that budget. So pricing totally depends on you.">
<meta name="keywords" content="AcenMark Pricing, Acenmark Billing, how much acenmark cost, Acenmark Pricing model">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="author" content="AcenMark">


{% endblock %}



{% block stylesheets %}

<link rel="stylesheet" href="{% static 'marketing/css/home.css' %}">

{% endblock %}

        {% block mainContent %}
            <div class="main-section">
                <div class="section your-team-section">
                    <div class="illus-area mobile-view-area mt-9rem" >
                        <img src="{% static 'marketing/images/base-salry.svg' %}">
                    </div>
                    <div class="description-area" >
                        <h1>Average Salary 50k of Digital Marketer Manager</h1>
                        <br/>
                        <span>
                             In the UK Average Base Salary of a digital marketing manager is 50,000 pounds and will be increased by 35%(approx), the only salary,  here marketing cost is not included. 
                         <br/>
                         <br/>
                
                            By Look into this Stat you will say that digital marketing will be costly and may break my bank.
                            Paying to digital marketer, and still paying for marketing expense this is quite expensive, but Don't worry AceMark has Solution for that!

                        </span>
                        <br/>
                        <h3>
                            AceMark will design your entire digital marketing system from digital marketer fees to all your marketing expense at a price which is 83% less than the
                            base salary of Digital marketer.
                            <br />
                            Isn't Amazing, so What are you waiting for, get started with acemark and get ready to evolve your business.
                        </h3>

                        <a href="/joinus" style="display: flex;">
                            <button class="started-btn">Get Started</button>
                        </a>

                    </div>
                    <div class="illus-area desktop-view-area" >
                        <img src="{% static 'marketing/images/base-salry.svg' %}">
                    </div>
                </div>

                <div class="section ">
                    <div class="illus-area">
                        <img src="{% static 'marketing/images/bugdet.svg' %}">
                    </div>
                    <div class="description-area align-center">
                        <div>
                        <h1>How Pricing Works</h1>
                        <br/>
                        <span>
                          AceMark Pricing Is very Flexible because monthly you can set a budget or reset your marketing budget.                            <br/>
                            <br/>
                       How your marketing is going whether it is crossing its monthly budget or not, everything is informed to you and you will be guided by Acemark about what would be the right budget.    
                            <br/>
                        </span>
                        <h4>
                    Monthly you simply set your budget by adding money to your AceMark Wallet, and that money is used for your marketing purpose.
                        </h4>

                        <h4>
                            Initially you will be starting with 1k as your monthly budget and once you will get more customers you need to increase your monthly budget. 
                        </h4>

                        <h4>So Pricing is that Easy and Flexible of AceMark.</h4>
                        <a href="/joinus" style="display: flex;">
                            <button class="started-btn">Get Started</button>
                        </a>
                        <div>
                            <span>
                           Still not satisfied with pricing then reach us we will discuss this because AceMark Believe that Money should not be the cause of the interruption.
                            So please reach us we will definitely help you out.
                            </span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block Scripts %}
        <script type="text/javascript" src="{% static 'marketing/js/home.js' %}"></script>
        {% endblock %}
