{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Request for Password Reset | AcenMark </title>
    <link rel="shortcut icon" type="image/icon" href="{% static 'marketing/images/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'marketing/css/request_reset_password.css' %}">
        <link rel="stylesheet" href="{% static 'marketing/css/loader.css' %}">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Roboto+Slab:wght@700&family=Fredoka+One&family=Pacifico&family=Nosifer&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/784b66feb8.js" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KJQFYGV2J3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KJQFYGV2J3');
</script>
    </head>
       <body >
        <div id="loader">
            <div class="sk-chase">
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
            </div>
        </div>
        <main>
            <div class="message-modal">
                <div class="mess-body">
                    
                    <img src="{% static 'marketing/images/email_send.svg' %}" class="mess-modal">
                    <h4>A Password Reset Link has been sended to your email address Successfully.if you did not find our mail then please check it in your spam folder.</h4>
                    <button class="close-btn">ok</button>
                </div>
            </div>
            <div class="request-reset-form-area">
                <form class="req-reset-pass-form" method="POST">
                    <div class="reset-notice">
                        <span>
                            Enter your registered email we will mail you a password reset link.
                        </span>
                    </div>
                    {% csrf_token %}
                    <div class="input-field">
                        <button><i class="fas fa-envelope"></i></button>
                        <input type="email" name="email" id="email" placeholder="your@email.com">
                        <span class="err-msg" id="err-email"></span>
                    </div>
                    <button class="reset-btn request-reset-btn">
                        Send me Reset Link
                    </button>
                </form>
            </div>
        </main>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'marketing/js/request_reset_password.js' %}"></script>
        

    </body>




</html>