{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset Password | AcenMark </title>
    <link rel="shortcut icon" type="image/icon" href="{% static 'marketing/images/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'marketing/css/request_reset_password.css' %}">
        <link rel="stylesheet" href="{% static 'marketing/css/loader.css' %}">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Roboto+Slab:wght@700&family=Fredoka+One&family=Pacifico&family=Nosifer&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/784b66feb8.js" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KJQFYGV2J3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KJQFYGV2J3');
</script>
    </head>
       <body >
        <div id="loader">
            <div class="sk-chase">
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
            </div>
        </div>
        <main>
            <div class="message-modal">
                <div class="mess-body">
                    
                    <img src="{% static 'marketing/images/high-five.svg' %}" class="mess-modal">
                    <h4>Your have resetted your password successfully</h4>
                    <button class="close-btn">ok</button>
                </div>
            </div>


            <div class="reset-form-area">
                <form class="reset-password-form" method="POST">
                    {% if invalid_link %}

                        <h4 class="pass-head-txt">Your Reset Password Link has been expired.Please Request for new One.</h4>
                        <a href="{% url 'request-reset-password' %}"><button type="button" class="reset-btn">Request Now</button></a>
                    {% else %}
                    <h4 class="pass-head-txt">Enter Your New Password</h4>
                    {% csrf_token %}
                    <div class="input-field">
                        <button><i class="fas fa-key"></i></button>
                        <input type="password" name="password" id="password" placeholder="password">
                        <span class="err-msg" id="err-email"></span>
                    </div>
                     <div class="progress">
                        <div id="password-strength" 
                            class="progress-bar" 
                            role="progressbar" 
                            aria-valuenow="40" 
                            aria-valuemin="0" 
                            aria-valuemax="100" 
                            style="width:0%">
                        </div>
                    </div>

                    <ul class="password-constraints">
                        <li class="password-contraint" id="eightChar">
                            <i class="far fa-circle" ></i> Alteast 8 Character long
                        </li>
                        <li class="password-contraint" id="specialChar">
                            <i class="far fa-circle" ></i> Special Character (!@#$%^&*)
                        </li>
                        <li class="password-contraint" id="digits">
                            <i class="far fa-circle" ></i> Numbers (0-9)
                        </li>
                        <li class="password-contraint" id="lowUpperCase">
                            <i class="far fa-circle" ></i> Lowercase & Uppercase
                        </li>
                    </ul>
                    <button class="reset-btn request-reset-btn">
                        Reset
                    </button>
                    {% endif %}
                </form>
            </div>
        </main>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'marketing/js/reset_password.js' %}"></script>
        

    </body>




</html>